<h1>Editing title episode</h1>

<%= render "form", title_episode: @title_episode %>

<br>

<div>
  <%= link_to "Show this title episode", @title_episode %> |
  <%= link_to "Back to title episodes", title_episodes_path %>
</div>
