<h1>Editing title principal</h1>

<%= render "form", title_principal: @title_principal %>

<br>

<div>
  <%= link_to "Show this title principal", @title_principal %> |
  <%= link_to "Back to title principals", title_principals_path %>
</div>
