<h1>Editing title crew</h1>

<%= render "form", title_crew: @title_crew %>

<br>

<div>
  <%= link_to "Show this title crew", @title_crew %> |
  <%= link_to "Back to title crews", title_crews_path %>
</div>
