<h1>Editing title basic</h1>

<%= render "form", title_basic: @title_basic %>

<br>

<div>
  <%= link_to "Show this title basic", @title_basic %> |
  <%= link_to "Back to title basics", title_basics_path %>
</div>
