<h1>Editing name basic</h1>

<%= render "form", name_basic: @name_basic %>

<br>

<div>
  <%= link_to "Show this name basic", @name_basic %> |
  <%= link_to "Back to name basics", name_basics_path %>
</div>
