<div id="<%= dom_id title_rating %>">
  <p>
    <strong>Tconst:</strong>
    <%= title_rating.tconst %>
  </p>

  <p>
    <strong>Average rating:</strong>
    <%= title_rating.average_rating %>
  </p>

  <p>
    <strong>Num votes:</strong>
    <%= title_rating.num_votes %>
  </p>

</div>
