<h1>Editing title rating</h1>

<%= render "form", title_rating: @title_rating %>

<br>

<div>
  <%= link_to "Show this title rating", @title_rating %> |
  <%= link_to "Back to title ratings", title_ratings_path %>
</div>
